* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: radial-gradient(blue, 1px, black);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

img {
    display: block;
    max-width: 100%;
}
legend{
    font-size: 20px;
    text-align: center;
}

.Box {
    display: flex;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    
}

.inputBox > div {
    flex: 1 1 300px;
    margin: 10px;
}