
*{

    margin: 0;
    padding: 0;
   
}

#titulo{
   font-family: sans-serif;
    color:rgb(243, 1, 1);
    margin-left: 0%;
    margin-top: 15%;
}

#subtitulo{
    font-family: sans-serif;
    color: rgb(243, 1, 1);
    margin-left: 0%;
    margin-top: 1%;
}

fieldset{
border: 0;
}

body{
background-image: url(img/wallpaper_by_kuratkull_detk0p1.png);
background-repeat: no-repeat;
background-position: center center;
background-size:auto;
background-attachment: scroll;
background-color: rgb(0, 0, 0);
font-family: sans-serif;
font-size: 1rem;
color: rgb(255, 255, 255);
margin-left: 5%;
margin-top: 10%;
justify-content: left;
}

input, select, textarea, button{
border-radius: 5px;

}
.campo{
    margin-bottom: 1rem;
}
.campo label{
margin-bottom: 0.2em;
color:rgb(243, 1, 1);
display: block;
}
fieldset .grupo .campo{
float: left;
margin-right: 1em;
}

.campo input[type="text"],.campo input[type="email"].campo select, .campo textarea{
    padding: 0.2em;
border: 1px solid rgb(243, 1, 1);
box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: rgb(224, 219, 219);
}

.button{
    
font-size: 1.2em;
background: rgb(243, 1, 1);
border: 0;
margin-bottom: 1em;
color: rgb(255, 254, 254);
padding: 0.2em 0.6em;
box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
text-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
position: absolute;
top: 90%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
}

.button:hover{
    background: #f58e52;
    box-sizing: inset 2px 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: none;
}
#check {
    display: inline-block;
}